<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- <div class="demo">
  <div>startDate: {{ startDate | date: "dd/MMM/yyyy" }}</div>
  <div>{{ price | number: "2.3-5" }}</div>
  <div>{{ price | currency }}</div>
  <div>{{ price | currency: "EUR" }}</div>
  <div>{{ rate | percent }}</div>
</div> -->

<!-- {{ courses | json }} -->

<!-- <div *ngFor="let pair of course | keyvalue">
  {{ pair.key + ": " + pair.value }}
</div> -->

<div class="courses">
  <course-card
    *ngFor="
      let courses of courses | slice: 1:3;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    (courseSelected)="onCourseSelected($event)"
    [course]="courses"
    [cardIndex]="i + 1"
  ></course-card>
</div>
